.main {
    grid-row: 2/3;
    grid-column: 2/3;
    position: relative;
    align-self: center;
    justify-self: start;
    margin-left: 9rem;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 800px;
    text-align: center;
    grid-template-rows:auto;
    grid-template-columns: repeat(auto-fit);
    

    @media only screen and (max-width:$bp-large){
        width: 600px;
        }
    @media only screen and (max-width:$bp-small){
        grid-row: auto;
        grid-column: 1fr;
        margin-top: 4rem;
        width: 400px;
        }
    @media only screen and (max-width:$bp-smallest){
        grid-row: 1/2;
          grid-column: 1fr;
        margin-top: 4rem;
        width: 360px;
        }
}
b, h2 {color: $color-blue}


.download {
    margin: 2rem 0rem;
}

.pdf-class {
    height: 500px;
    width: auto;

    margin: 4rem;
}

.pdf-class img{
    height: 100%;
        box-shadow: $box-shadow-small;
}


.item1 {
  
    grid-column: 1/2;

      @media only screen and (max-width:$bp-large){
        grid-column: 1/2;
            width: fit-content;
    justify-self: center;
        }
}

.item2 {
   
    grid-column: 2/3;

      @media only screen and (max-width:$bp-large){
        grid-column: 1/2;
            width: fit-content;
    justify-self: center;
        }
}

// .item3 {

//     grid-column: 1/2;

//       @media only screen and (max-width:$bp-large){
//         grid-column: 1/2;
//             width: fit-content;
//     justify-self: center;
       
//         }
// }
// .item4 {
 
//     grid-column: 2/3;

//       @media only screen and (max-width:$bp-large){
//         grid-column: 1/2;
//             width: fit-content;
//     justify-self: center;
//         }
// }
// .item5 {
 
//     grid-column: 1/2;

//       @media only screen and (max-width:$bp-large){
//         grid-column: 1/2;
//             width: fit-content;
//     justify-self: center;
//         }
// }
// .item6 {
 
//     grid-column: 2/3;

//       @media only screen and (max-width:$bp-large){
//         grid-column: 1/2;
//             width: fit-content;
//     justify-self: center;
//         }
// }
