.main {
    grid-row: 3/4;
    grid-column: 2/3;
    position: relative;
    align-self: center;
    justify-self: start;
    margin-left: 9rem;
    margin-top: 4rem;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 800px;
    text-align: center;
    grid-template-rows:auto;
    grid-template-columns: repeat(auto-fit);
    

    @media only screen and (max-width:$bp-largest){
        width: 100vw;
        margin-right: 9rem;
        display: flex;
        flex-wrap: wrap;
        }


    @media only screen and (max-width:$bp-small){
        grid-row: auto;
        grid-column: 1fr;
        margin-top: 4rem;
        width: 320px;
        }
    @media only screen and (max-width:$bp-smallest){
        grid-row: 1/2;
          grid-column: 1fr;
        margin-top: 4rem;
        width: 320px;
        }
}
b, h2 {color: $color-blue}


.download {
    margin: 2rem 0rem;
    
}

.pdf-class {
    height: 300px;
    width: auto;

    margin: 4rem;
    transition: all, .2s;
}

.pdf-class:hover {
     transform: scale(102%);
     box-shadow: 0 12px 14px 2px rgba(0,0,0,.16),0 3px 24px 5px rgba(0,0,0,.16),0 8px 10px -5px rgba(0,0,0,.24); 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 12px 14px 2px, rgba(0, 0, 0, 0.16) 0px 3px 24px 5px, rgba(0, 0, 0, 0.24) 0px 8px 10px -5px;
}

.pdf-class img{
    height: 100%;
        box-shadow: $box-shadow-small;
}



.ppt-class {
       height: 300px;
       width: auto;
       display: flex;
       justify-content: center;
       align-items: center;
    width: auto;
    margin: 4rem;
    transition: all, .2s;
}

.ppt img{
    width: 100%;
    height: auto;
    box-shadow: $box-shadow-small;
}

.ppt-class img:hover {
         transform: scale(102%);
     box-shadow: 0 12px 14px 2px rgba(0,0,0,.16),0 3px 24px 5px rgba(0,0,0,.16),0 8px 10px -5px rgba(0,0,0,.24); 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 12px 14px 2px, rgba(0, 0, 0, 0.16) 0px 3px 24px 5px, rgba(0, 0, 0, 0.24) 0px 8px 10px -5px;
}

// .item1 {
  
//     grid-column: 1/2;

//       @media only screen and (max-width:$bp-large){
//         grid-column: 1/2;
//             width: fit-content;
//     justify-self: center;
//         }

//           @media only screen and (max-width:$bp-small){
//         grid-column: 1/2;
//             width: fit-content;
//     justify-self: center;
//         }
// }

// .item2 {
   
//     grid-column: 2/3;

//       @media only screen and (max-width:$bp-large){
//         grid-column: 2/3;
//             width: fit-content;
//     justify-self: center;
//         }

//       @media only screen and (max-width:$bp-small){
//         grid-column: 1/2;
//             width: fit-content;
//     justify-self: center;
//         }
// }

// .item3 {
//     grid-column: 3/4;

//           @media only screen and (max-width:$bp-large){
//         grid-column: 1/2;
//             width: fit-content;
//     justify-self: center;
//         }
// }


// .item3 {

//     grid-column: 1/2;

//       @media only screen and (max-width:$bp-large){
//         grid-column: 1/2;
//             width: fit-content;
//     justify-self: center;
       
//         }
// }
// .item4 {
 
//     grid-column: 2/3;

//       @media only screen and (max-width:$bp-large){
//         grid-column: 1/2;
//             width: fit-content;
//     justify-self: center;
//         }
// }
// .item5 {
 
//     grid-column: 1/2;

//       @media only screen and (max-width:$bp-large){
//         grid-column: 1/2;
//             width: fit-content;
//     justify-self: center;
//         }
// }
// .item6 {
 
//     grid-column: 2/3;

//       @media only screen and (max-width:$bp-large){
//         grid-column: 1/2;
//             width: fit-content;
//     justify-self: center;
//         }
// }
