.sense {
    margin: 2rem;
    height: auto;
    margin: auto;

}

.sense-container {

    display: flex;
    margin-left: 5rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

